.image_preview {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 10px;
    border:3px solid #dedede;
    margin-bottom: 20px;
}

.form-inline-block {
    display: inline-block;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

label {
    font-weight: bold !important;
    text-transform: uppercase;
}
