.logo-avatar {
    width:40px;
    height: 40px;
}

.mb-header {
    margin-bottom: 8rem  !important;
}

thead tr th {
    font-weight: bold;
    font-size: 15px;
}

.box-gray {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 0.25rem;
}

.space-50 {
    height: 50px;
}

.btn {
    margin: 0px !important;
}